<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133058127037-pj2rd8v7t8jvilbr50qj48p9fg8aonvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133058127037-pj2rd8v7t8jvilbr50qj48p9fg8aonvi</string>
	<key>API_KEY</key>
	<string>AIzaSyCvE-6ysckNWqKDPItNQcPzz5pKAAV9cok</string>
	<key>GCM_SENDER_ID</key>
	<string>133058127037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-abf6f</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-abf6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133058127037:ios:a706e1ec0501163c19c3d4</string>
</dict>
</plist>